{% extends 'news/read_post_base.html' %}
{% load staticfiles %}


    {% block bank_account_block %}
<div class='post hentry clearfix'>
<h1 class='post-title entry-title'>
Create/Update Bank Account
</h1>
<div class='post-body entry-content' id='post-body-6777149070404822203'>
<div class='post-materials clearfix'>
<span>
<i class='fa fa-user'></i>
<span class='material-font'> by</span>
<span class='author-name'>
<a href='https://plus.google.com/117087522982435008929' rel='author' title='author profile'>
Shashank Verma
</a>
</span>
</span>
<span>
<i class='fa fa-clock-o'></i>
<a class='timestamp-link' href='http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html' rel='bookmark' title='permanent link'><abbr class='published' title='2015-03-04T04:22:00-08:00'>Wednesday, March 04, 2015</abbr></a>
</span>
<span class='blog-post-comments'>
<i class='fa fa-comments'></i>
<a class='comment-link' href='http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html#comment-form' onclick=''>33
comments</a>
</span>
<span class='post-cat'>
<i class='fa fa-tags'></i>
<a href='http://timeline-themexpose.blogspot.in/search/label/Break' rel='tag'>Break</a>
<a href='http://timeline-themexpose.blogspot.in/search/label/Food' rel='tag'>Food</a>
<a href='http://timeline-themexpose.blogspot.in/search/label/vimeo' rel='tag'>vimeo</a>
</span>
</div>
<div dir="ltr" style="text-align: left;" trbidi="on">
<div dir="ltr" style="text-align: left;" trbidi="on">
<div class="separator" style="clear: both; text-align: center;">
</div>
<div class="separator" style="clear: both; text-align: center;">
</div>
<div class="separator" style="clear: both; text-align: center;">
    

    
    
</div>
<br /></div>
<br />

			<p><b>STEP 1 :</b></p>                    
	  
	  <p><span class="glyphicon glyphicon-asterisk"></span>Login with Administrator Account</p>
	  <p><span class="glyphicon glyphicon-asterisk"></span>"Go to Setting-> Companies-> Companies- > Open record"</p>
	  
	  
		  
					   
            <a href="{% static "images/bank_account/company_form_view_1.png" %}" imageanchor="1" style="margin-left: 1em; margin-right: 1em;">
                <img border="0" src="{% static "images/bank_account/company_form_view_1.png" %}" height="720" width="720" />
            </a>	  

			<p><b>STEP 2 :</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Enter bank details</p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/bank_account_form1.png" alt="">
			  
			  <br></br>

			<p><b>STEP 3 :</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Save bank account details</p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/company_form_view2.png" alt="">
			  
			  <br></br>
			  
			<p><b>STEP  4:</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Check Bank Journal Detail</p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/bank_account_form2.png" alt="">
			  
			  <br></br>														


			<p><b>STEP 5 :</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Configure secondary currency (As per requirement)</p>
		  <p><span class="glyphicon glyphicon-asterisk"></span>Go back to company and click on edit button and open bank account</p>
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/bank_account_form3.png" alt="">
			  
			  <br></br>
			  
			<p><b>STEP 6:</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Configure secondary currency on ledgers</p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/account_journal_form1.png" alt="">
			  
			  <br></br>
			  
			<p><b>STEP 7:</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Select secondary currency</p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/ledger_form1.png" alt="">
			  
			  <br></br>							
			  
			<p><b>STEP 8 :</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Configure secondary currency on journal </p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/account_journal_form2.png" alt="">
			  
			  <br></br>			


			<p><b>STEP 9 :</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Save the secondary currency changes </p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/bank_account_form4.png" alt="">
			  
			  <br></br>	
			  
			  
		  <p><b>STEP 10 :</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Save the modifications made in bank account </p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/company_form_view3.png" alt="">
			  
			  <br></br>							
			  
		  <p><b>STEP 11 :</b></p>                    
	  <p><span class="glyphicon glyphicon-asterisk"></span>Secondary currency configured successfully </p>
	 
		  <img class="img-responsive" src="http://103.16.101.59/page/july/15july/bank_account/comapny_form_view5.png" alt="">
			  
			  <br></br>	
        
        
        

</div>
<div style='clear: both;'></div>
</div>
<div class='post-footer'>
<div class='post-footer-line post-footer-line-1'>
<div class='post-tools clearfix'>
<div class='col-lg-6'>
<div class='pull-left'>
<div class='blog-post-tag clearfix'>
<!--<span><i class='fa fa-tags'></i></span>
<span class='tag-title-post'>TAGS : </span>
<a href='http://timeline-themexpose.blogspot.in/search/label/Break' rel='tag'>Break</a> |
																	
<a href='http://timeline-themexpose.blogspot.in/search/label/Food' rel='tag'>Food</a> |
																	
<a href='http://timeline-themexpose.blogspot.in/search/label/vimeo' rel='tag'>vimeo</a> |
-->																	
<div class='clear'></div>
</div>
</div>
</div>
<div class='col-lg-6 share-mobile-check'>
<div class='pull-right'>
<div class='blog-post-share clearfix'>
<div class='pull-left'><i class='fa fa-share-alt'></i><span class='tag-title-post'>SHARE : </span></div>
<div class='share-tools pull-left'>
<ul>
<li><a href='http://www.facebook.com/sharer.php?u=http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html' onclick='javascript:window.open(this.href, &#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600&#39;);return false;' target='_blank' title='Share on Facebook'><i class='fa fa-facebook'></i></a></li>
<li><a href='http://twitter.com/share?url=http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html' onclick='javascript:window.open(this.href, &#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600&#39;);return false;' target='_blank' title='Share on Twitter'><i class='fa fa-twitter'></i></a></li>
<li><a href='http://pinterest.com/pin/create/button/?source_url=http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html' onclick='javascript:window.open(this.href, &#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600&#39;);return false;' target='_blank' title='Share on Pinterest'><i class='fa fa-pinterest'></i></a></li>
<li><a href='https://plus.google.com/share?url=http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html' onclick='javascript:window.open(this.href, &#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600&#39;);return false;' target='_blank' title='Share on Google Plus'><i class='fa fa-google-plus'></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='post-footer-line post-footer-line-2'>
</div>
<div class='post-footer-line post-footer-line-3'><span class='post-location'>
</span>
</div>
</div>
</div>    
    
    {% endblock %}